.stApp {
    background-color: #0E1117;
    color: #FAFAFA;
}

html, body, [class*="css"] {
    color: #FAFAFA;
}

h1, h2, h3, h4, h5, h6 {
    color: #00E5FF !important;
}

p, span, label, div {
    color: #FAFAFA;
}

[data-testid="stSidebar"] {
    background-color: #111827;
}

[data-testid="metric-container"] {
    background-color: #1E1E1E;
    border: 1px solid #00E5FF;
    padding: 15px;
    border-radius: 10px;
}

.stAlert {
    border-radius: 10px;
}

button {
    border-radius: 8px;
}